@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Roboto.ttf') format('truetype');
}

/* 1. 声明常规体（font-weight: 500） */
@font-face {
  font-family: 'PlusJakartaSans'; /* 统一字体家族名称 */
  src: url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 500; /* 常规体权重 */
  font-style: normal; /* 非斜体 */
  font-display: swap; /* 优化加载体验：先显示系统字体，加载完成后替换 */
  unicode-range: U+0000-FFFF; /* 覆盖常用字符范围 */
}
/* 2. 声明粗体（font-weight: 700） */
@font-face {
  font-family: 'PlusJakartaSans'; /* 统一字体家族名称 */
  src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700; /* 粗体权重 */
  font-style: normal; /* 非斜体 */
  font-display: swap; /* 优化加载体验：先显示系统字体，加载完成后替换 */
  unicode-range: U+0000-FFFF; /* 覆盖常用字符范围 */
}


html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  
}

.rc-tooltip-inner{
  background-color: #ffffff!important;
  border: 1px solid #FFFFFF33!important;
  border-radius: 16px!important;
  padding: 16px!important;
  box-sizing: border-box!important;
}
.rc-tooltip-arrow{
  border-width: 0 8px 8px!important;
  margin-left: -8px!important;
  border-bottom-color: #ffffff!important;
  border-left-color: transparent!important;
  border-right-color: transparent!important;
  top: 2px!important;
  position: relative;
  
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 0 8px 8px;
    border-bottom-color: #ffffff;
    top: -1px;
    left: -8px;
    z-index: -1;
  }
}